<h1 class="text-center my-5">Found stuffs</h1>

<div class="d-flex flex-wrap justify-content-start">
  <% Stuff.found_stuf.each do |stuff| %>
    <div class="card mx-auto mb-3" style="width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <%= image_tag(stuff.stuff_image) %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= stuff.title %></h5>
            <p class="card-text"><%= stuff.description.first(80) %></p>
            <p><%= link_to 'Show', stuff, class:"btn btn-info" %></p>
            <p class="card-text"><small class="text-muted">Posted: <%= time_ago_in_words(stuff.created_at) %> ago</small></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

