<div class="container">
  <div class="row">
    <div class="col my-5">
      <h2>
        <%= @stuff.title %>
      </h2 class="stuff-title-show">
      <div style="width:40%; height:auto">
        <%= image_tag(@stuff.stuff_image) %>
      </div>

      <div type="button" class="popup btn btn-outline-info my-5" onclick="myFunction()"> <%= fa_icon 'phone' %> Click for phone number
        <span class="popuptext" id="myPopup"><%= @stuff.user.phone_number %></span>
      </div>
      <p id="usernum" class="my-1"><strong>User: </strong>
      <% if user_signed_in? %>
        <%= @stuff.user.username if @stuff.user%>
      <% end %>
      </p>

      <div class="my-3">
        <p><strong>Address:</strong>
        <%= @stuff.address %></p>
      </div>

      <div class="my-3">
        <p><strong>Image longitude/latitude:</strong>
        <% if @stuff.image.metadata['longitude'].present? %>
          <%= @stuff.image.metadata['longitude'] %>
          <%= @stuff.image.metadata['latitude'] %></p>
        <% else %>
          Image don't have latitude and longitude
        <% end %>
      </div>

      <div class="my-3">
        <p><strong>Date Found/Lost:</strong>
        <%= @stuff.found_date %></p>
      </div>

    </div>
    <div class="col my-5">
      <div class="card">
        <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=16&size=400x400&markers=#{@stuff.latitude},#{@stuff.longitude}&key=#{ Rails.application.credentials.aws[:access_key_id] }", alt: "Map" %>
      </div>
    </div>
  </div>
  <p><strong>Description:</strong></p>
  <div class="container my-5" id="description">
    
    <p style="padding:3%">
      <%= @stuff.description %>
    </p>
  </div>
  <% if user_signed_in? && (@stuff.user == current_user || current_user.admin?) %>
    <%= link_to 'Edit', edit_stuff_path(@stuff) %>
  <% end %>
  
</div>

<script>
// When the user clicks on div, open the popup
function myFunction() {
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}

</script>