<div class="container" id="search-line">
  <div class="form-inline search-line justify-content-center">
    <div class="col-sm-3 inline-block">
      
      <%= link_to 'New Stuff', new_stuff_path, class:'new-btn btn btn-primary' %>
      
    </div>
    <div class="col-sm-9">
      <!--<form class="form-inline" action="/search">
        <input class="form-control mr-sm-2 w-50" name="q" type="search" placeholder="Search" aria-label="Search" id="search">
          <a class="btn btn-outline-secondary my-2 my-sm-5" id="btn-filter" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <%= fa_icon 'filter' %>
          </a>
        </button>
        <button class="btn btn-outline-success my-2 my-sm-5" type="submit">Search</button>
      </form>-->

        <%= form_tag root_path, class: "form-inline", :method => 'get' do %>
          <%= text_field_tag :search, params[:search], class: "form-control mr-sm-2 w-50", placeholder: "Search..." %>
          <a class="btn btn-outline-secondary my-2 my-sm-5" id="btn-filter" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <%= fa_icon 'filter' %>
          </a>
          <%= submit_tag "Search", :name => nil, class: "btn btn-outline-success my-2 my-sm-5" %>
        <% end %>

    
    </div>
  </div>
  <div class="collapse" id="collapseExample">
    <div class="card card-body mx-auto" id="advance-search">
      advance search
    </div>
  </div>
</div>
