<!DOCTYPE html>
<html>
  <head>
    <title>FindLost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.aws[:access_key_id] %>&libraries=places&callback=initMap" async defer data-turbolinks-eval="false"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
    
  <body class="d-flex flex-column">
    <%= render 'shared/navigation'%>
    <div id="messages-container">
      <%= render 'shared/messages' %>
    </div>
    <%= yield %>
  </body>
</html>
